body {
  color: black;
  font-size: 18px;
  background-color: #f4f5f6;
}

.container {
  max-width: 80rem;
}

@media (max-width: 40.0rem) {
  .container {
    padding: 1rem;
  }
}

@media (min-width: 40.0rem) {
  .container {
    padding-top: 6rem;
  }
}

h1, h2 {
  text-align: center;
}

p.logo {
  text-align: center;
}

img.logo {
  width: 12rem;
}

li {
  margin-bottom: 0px;
}

.next {
  font-weight: 400;
}

.next::before {
  content: "→ ";
}

.previous {
  font-weight: 400;
}

.previous::before {
  content: "← ";
}

.home::before {
  content: "↑ ";
}

.copyright {
  margin-bottom: 0.5rem;
}

.copyright, .feedback {
  font-size: 16px;
}

@media (min-width: 40.0rem) {
  .copyright, .feedback {
    text-align: center;
  }
}
